@import url(./start.css);
@import url(./restart.css);


html, body {
    margin: 0;
    padding: 0;
    background-color: #ECAE97;
    font-family: 'Spartan', sans-serif;
  }

#ninja{
    position: relative;
    left: 80px;
    top: 60px;
    font-size: 24px;
    color: #E8AB94;
    text-shadow: 4px 4px 10px rgba(225, 63, 30, 0.6), -4px -4px 10px rgba(236, 174, 151, 0.5);  
}


#time-score{
    position: absolute;
    right: 60px;    
    top: 70px;
    font-size: 34px;
    height: 90px;
    width: 220px;
    text-align: center;
    font-weight: 900;
  

    box-shadow: inset -2px -9px 50px rgba(237, 140, 120, 0.5), inset 9px 9px 16px rgba(225, 63, 30, 0.4);
    border-radius: 32px;
    background: #ECAE97;

    box-shadow: -9px -9px 16px rgba(237, 140, 120, 0.5), 9px 9px 16px rgba(225, 63, 30, 0.5);
    border-radius: 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: #FFFFFF;
    mix-blend-mode: overlay;
    opacity: 0.4;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0px 0px 8px #000000;
}



#canvas{
    border-radius: 50%;
    box-shadow: 4px 4px 24px 0px #E86A5080;
    box-shadow: 0px 4px 24px 0px #E86A5080;
    position: absolute;
    right: 350px; 
    top: 40px;
}