#game-over-page{
text-align: center;
margin-top: -50px;
}

#game-over-page h1{
    font-weight: bold;    
    font-size: 62px;
    color: #E8AB94;
    text-shadow: 4px 4px 10px rgba(225, 63, 30, 0.6), -4px -4px 10px rgba(236, 174, 151, 0.5);  
    }

#game-over-page p {
    margin-top: 100px;
    font-size: 62px;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 2px white, 0 4.5px #777;
}

#restart-btn {
    background: #FFFFFF;
    box-shadow: -4px -4px 10px rgba(232, 171, 148, 0.5), 4px 4px 10px rgba(225, 63, 30, 0.5);    border-radius: 32px;
    width: 250px;
    height: 60px;
    font-size: 24px;
}

#restart-btn:hover {
    width: 260px;
    height: 70px;
}
