#start-page {
    display: flex;
    justify-content:space-evenly;
    background-color: #ED6549;
    height: 1350px;
    background-image: url("../img/background/background-start.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -200px
}

.title-container {
    margin-right: 100px;
}

.game-title {
    margin-left: -80px;
    margin-top: 150px;
    align-items: center;
    font-weight: 900;
    font-size: 62px;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 2px white, 0 4.5px #777;

}


.instructions-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 250px;
    -webkit-text-stroke: 1.9px black;
    width: 1050px;
    background-image: url("../img/background/transparent_start_1.png");
    background-repeat: no-repeat;
}

.instruction {
    margin-left: 200px;
    font-size: 42px;
}

.explenation-container {
    margin-right: 70px;
   margin-top: 10px;
   font-size: 32px;
}

.explenation-container h3 {
    margin-left: 10px;
}


.explenation-container p {
    margin-left: 240px;
}

#start-btn{
    background: #FFFFFF;
    box-shadow: -4px -4px 10px rgba(232, 171, 148, 0.5), 4px 4px 10px rgba(225, 63, 30, 0.5);    border-radius: 32px;
    margin-left: 220px;
    margin-bottom: 50px;
    width: 250px;
    height: 60px;
    font-size: 24px;
}