#start-page {
    display: flex;
    justify-content:space-evenly;
    background-color: #ED6549;
    background-image: url("../img/background/Background&words.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2250px;
    background-position: 0px -200px;
    height: 890px;
}

.title-container {
  margin-left: 150px;
}

.game-title {
    margin-left: -100px;
    margin-top: 20px;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    -webkit-text-stroke: 3px black;
    text-shadow: 0 2px white, 0 4.5px #777;
}


.instructions-flex{
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-text-stroke: 1.9px black;
    width: 750px;
    margin: 90px;
    margin-top: 0px;
    margin-top: 50px; 
}

.instructions-flex h2{
    font-size: 42px;
    margin-left: 50px;
}


.explenation-container { 
   font-size: 24px;
  
}

.explenation-container h3 {
   margin-left: -80px;
   font-size: 24px;
}


.explenation-container p {
    margin-right: 40px;
}

#start-btn{
    background: #FFFFFF;
    box-shadow: -4px -4px 10px rgba(232, 171, 148, 0.5), 4px 4px 10px rgba(225, 63, 30, 0.5);    border-radius: 32px;
    width: 250px;
    height: 60px;
    font-size: 24px;
    margin-left: 40px;
}

#start-btn:hover {
    width: 260px;
    height: 70px;
}